
<div class="page home">
    <div data-page="index" class="page navbar-fixed ">

      <div class="navbar animated flipInX body-color-text">
        <div class="navbar-inner cajaBuscarServicios">
          <div  class="open-panel search-job"><div class="image-search"></div><span>Buscar Servicios</span></div>
          
        </div>
      </div>

      <div class="page-content ">
          <div class="user-letter-container animated flipInY" style="animation-delay: {{$index}}s" ng-repeat="user in user" ng-if="resultUser == 'messegeIntroSearchUser'">
           
              <div class="row">
                    <div class="col-75" ng-click="gotoProfileUser(user)">
                      <div class="row">
                        <div class="col-40">
                            <div class="photo" style="background-image: url(./image/{{user.photo}});"></div>
                        </div>
                        <div class="col-60">
                            <div class="information">
                              <span><strong>{{user.name}} {{user.lastName}}</strong><samp>
                              <!--<div><span>Buenos Aires - Ezeiza</span></div>-->
                              <div><span>{{user.email}}</span></div>
                            </div>
                        </div>
                      </div>
                      <div class="container-score" ng-repeat="service in user.service" ng-if="service.name ='Electricista'">
                          <div class="score"></div>
                          <div class="score-background" >
                            <div class="background" style="width: {{service.score}}%;"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-25"> 
                   <div class="call"><a   class = "external"  href="tel:1155122332"></a></div>
                   
                    <div ui-sref="profile" class="message-comment"></div>
                  </div>
              </div>
              <div class="commentary">tiene 8 comentarios</div>
        </div>
        <div class="content-messegeUser animated fadeInLeft" ng-if="resultUser == 'null'">
            <p class="center-p">Aqui verás los resultados de tu busqueda!</p>
            <ins><p class="center-p">Sigue estos pasos:</p></ins>
            <p>1 - Presiona arriba donde dice "<span class="palabraNegrita">Buscar Servicios</span>" </p>
            <p>2 - Selecciona los oficios</p>
            <p>3 - Selecciona la zona</p>
            <p>4 - Y presiona buscar servicios!</p>
        </div>
      </div>
    </div>
</div>



