<div   class="page login body-color-text" >
    <div class="page-content">
        <form class="login ">
            
            <h2>MENU</h2>
            <div class="container-btn">
            
                <button  ui-sref="result-categories" class="button button-fill color-white animated bounceInLeft" style="animation-delay: 0.3s">Buscar Servicios</button>
                
                <div  ui-sref="singup-employee" ng-disabled="userStateVisit" class="button button-fill color-white  animated bounceInLeft" style="animation-delay: 0.6s"> Ofrecer Servicios </div>

                <div ui-sref="" ng-disabled="true" class="button button-fill color-white animated bounceInLeft" style="animation-delay: 0.9s">Alquilar Herramientas</div>
                <div ui-sref="" ng-disabled="true"  class="button button-fill color-white animated bounceInLeft" style="animation-delay: 1.2s">Publicar Herramientas</div>
                <div ui-sref="my-profile" ng-disabled="userStateVisit" class="button button-fill color-white animated bounceInLeft" style="animation-delay: 1.5s">Mi Perfil</div>
                <p  ui-sref="login" class="login p  animated bounceInLeft" style="animation-delay: 1.9s">SALIR</p>
            </div>

        </form>
    </div>
</div>