<div  class="page registration body-color-text" >
<div  class="page-content" >
  <div class="animated fadeInUp">
        <h1>Registro</h1>
       <form name="formRegistration" ng-submit="nextPageRegistration()" novalidate>
         <input type="text" placeholder="Nombre" ng-model="userRegistration.name" name="name" class="name" id="name" ng-required="true">
         <input type="text" placeholder="Apellido" ng-model="userRegistration.lastName"  name="lastName" class="lastName" id="lastName" ng-required="true">
         <input type="email" placeholder="Email" ng-model="userRegistration.email"  name="email" class="email " id="email" ng-required="true">
         <input type="password" placeholder="Contraseña" ng-model="userRegistration.password"  name="password" class="password " id="password" ng-required="true">
         <div>
            <input type="checkbox"  ng-model="userRegistration.conditions"  name="conditions" class="checkbox" id="check" ng-required="true"><span class="conditions" for="check">Acepto Terminos y Condiciones</span>
         </div>
          <div class="message-error animated pulse" ng-show=" formRegistration.$invalid &&  formRegistration.$submitted">
            <span  class="animated pulse" ng-show="
             formRegistration.name.$error.required ||
             formRegistration.lastName.$error.required || 
             formRegistration.email.$error.required || 
             formRegistration.conditions.$error.required 
             
             ">Todos los campos son Obligatorios</span><br>
            <span  class="animated pulse" ng-show="formRegistration.email.$error.email">Email Inválido</span>
          </div>
          <button type="submit" class="button button-fill color-white">Siguiente</button>
       </form>
      <p ui-sref="login">VOLVER</p>
  </div>
</div>
</div>