<div  class="page registration body-color-text" >
    <div  class="page-content" >
      <div class="animated fadeInUp">
            <h1>Registro</h1>
          <form name="formRegistration" ng-submit="nextPageRegistration()" novalidate>

            <!-- Codigo de area tienen de 2 a 5 numeros (Contando el 0). -->
            <!-- Telefonos FIJOS tienen entre 6 y 8 caracteres -->
            <input type="number" id="inputTel" placeholder="Telefono Fijo (Cod. Area + Numero)" ng-model="userRegistration.tel"  name="tel" class="tel" id="tel" minlength="8" maxlength="13"  ng-required="true">

            <!-- Codigos de area tienen entre 2 a 5 (Contando el 0) -->
            <!-- Celulares tienen entre 6 y 8 caracteres -->
            <input type="number" id="inputCel" placeholder="Celular (Cod. Area + Numero.) - Sin el 15"  ng-model="userRegistration.cel" name="cel" class=" cel" id="cel" minlength="8" maxlength="15"  ng-required="true">


            <select  ng-model="userRegistration.provinces"  name="provinces" ng-required="true">
              <option ng-repeat="provinces in provinces" ng-value="provinces">{{provinces[1]}}</option>
            </select>

            <select  ng-model="userRegistration.locality" name="locality" ng-required="true">
              <option ng-repeat="localidad in localidad" ng-if="localidad[1] == userRegistration.provinces[0]" value="{{localidad[2]}}">{{localidad[2]}}</option>
            </select>

             <!-- <input type="file"> -->

              <div class="message-error animated pulse" ng-show=" formRegistration.$invalid && formRegistration.$submitted">

                <span  class="animated pulse" ng-show="formRegistration.tel.$error.minlength || formRegistration.tel.$error.maxlength || formRegistration.tel.$error.required">Telefono fijo: Ingrese el codigo de area seguido del numero</span>

                <span  class="animated pulse" ng-show="formRegistration.tel.$valid && (formRegistration.cel.$error.minlength || formRegistration.cel.$error.maxlength || formRegistration.cel.$error.required)">Celular: Ingrese el codigo de area seguido del numero. -Sin el 15.</span>
                
                <span  class="animated pulse" ng-show="formRegistration.cel.$valid &&
                (formRegistration.provinces.$error.required ||
                formRegistration.locality.$error.required)                 
                ">Ingrese su provincia y localidad</span>
                            
              </div>

              <button type="submit" class="button button-fill color-white">Siguiente</button>
          </form>
          <p ui-sref="menu">VOLVER</p>
      </div>
    </div>
</div>