<div  class="page registration body-color-text" >
    <div  class="page-content" >
      <div class="animated fadeInUp">
            <h1>Registro</h1>
          <form name="formRegistration" ng-submit="nextPageRegistration()" novalidate>

            <!-- Codigo de area tienen de 2 a 5 numeros (Contando el 0). -->
            <!-- Telefonos FIJOS tienen entre 6 y 8 caracteres -->
            <input type="tel" placeholder="Telefono Fijo (Ej: 011 222333)" ng-model="userRegistration.tel"  name="tel" class="tel" id="tel" ng-pattern="validationTelFijo" ng-required="true">

            <!-- Codigos de area tienen entre 2 a 5 (Contando el 0) -->
            <!-- Celulares tienen entre 6 y 8 caracteres -->
            <input type="tel" placeholder="Celular (Ej: 011 12345678) (Sin el 15)"  ng-model="userRegistration.cel" name="cel" class=" cel" id="cel" ng-pattern="validationCelular"  ng-required="true">


            <select  ng-model="userRegistration.provinces"  name="provinces" ng-required="true" >
              <option   ng-repeat="provinces in provinces" ng-value="provinces">{{provinces[1]}}</option>
            </select>

            <select  ng-model="userRegistration.locality" name="locality" ng-required="true">
              <option ng-repeat="localidad in localidad" ng-if="localidad[1] == userRegistration.provinces[0]  " value="{{localidad[2]}}">{{localidad[2]}}</option>
            </select>

              <div class="message-error animated pulse" ng-show=" formRegistration.$invalid && formRegistration.$submitted">

                <span  class="animated pulse" ng-show="formRegistration.tel.$error.pattern">Ingrese el telefono fijo con el siguiente formato: "011 222333"</span>

                <span  class="animated pulse" ng-show="formRegistration.tel.$valid && formRegistration.cel.$error.pattern">Ingrese el celular con el siguiente formato: "011 12345678" Sin el 15.</span>
                
                <span  class="animated pulse" ng-show="formRegistration.cel.$valid &&
                (formRegistration.tel.$error.required || 
                formRegistration.cel.$error.required  || 
                formRegistration.provinces.$error.required ||
                formRegistration.locality.$error.required)                 
                ">Todos los campos son Obligatorios</span>
                            
              </div>

              <button type="submit" class="button button-fill color-white">Siguiente</button>
          </form>
          <p ui-sref="menu">VOLVER</p>
      </div>
    </div>
</div>