<div  class="page registration body-color-text" >
    <div  class="page-content" >
      <div class="animated fadeInUp">
            <h1>Registro</h1>
          <form name="formRegistration" ng-submit="nextPageRegistration()" novalidate>
              <input type="tel" placeholder="Telefono fijo. ej:12348574" ng-model="userRegistration.tel"  name="tel" class="tel" id="tel" ng-maxlength="8" ng-minlength="8" ng-required="true">
              <input type="tel" placeholder="Celular. ej: 1154113608"  ng-model="userRegistration.cel" name="cel" class=" cel" id="cel" ng-maxlength="10" ng-minlength="10" ng-required="true">
              
              <select  ng-model="userRegistration.provinces"  name="provinces" ng-required="true" >
                <option   ng-repeat="provinces in provinces" ng-value="provinces">{{provinces[1]}}</option>
              </select>
              <select  ng-model="userRegistration.locality" name="locality" ng-required="true">
                <option ng-repeat="localidad in localidad" ng-if="localidad[1] == userRegistration.provinces[0]  " value="{{localidad[2]}}">{{localidad[2]}}</option>
              </select>

              <div class="message-error animated pulse" ng-show=" formRegistration.$invalid &&  formRegistration.$submitted">
                <span  class="animated pulse" ng-show="

                formRegistration.tel.$error.required || 
                formRegistration.cel.$error.required  || 
                formRegistration.provinces.$error.required ||
                formRegistration.locality.$error.required 
                
                ">Todos los campos son Obligatorios</span><br>
                
                <span  class="animated pulse" ng-show="formRegistration.tel.$error.maxlength || formRegistration.tel.$error.minlength ">El telefono tiene que contener 8 números</span><br>
                <span  class="animated pulse" ng-show="formRegistration.cel.$error.maxlength || formRegistration.cel.$error.minlength ">El celular tiene que contener 10 números</span>
            
              </div>
              <button type="submit" class="button button-fill color-white">Siguiente</button>
          </form>
          <p ui-sref="menu">VOLVER</p>
      </div>
    </div>
</div>