<div ng-controller="registrationCtrl" class="page categories body-color-text" >
  <div  class="page-content" >
    <div class="animated fadeInUp">
      <h1>Herramientas</h1>
          <div ng-include src="'templates/services/job.html'" ></div>
    </div>
  </div>
</div>
<div class="categories" ng-controller="toolsCtrl">
        <div class="container-button ">
          <div class="animated zoomIn"  style="  -webkit-animation-delay: 0.80s;  animation-delay: 0.80s;">
          <div class=" button button-fill color-white "  ui-sref="profile"> Registrarme </div>
        </div>
      </div>
</div>
